<!--The content below is only a placeholder and can be replaced.-->
<div>
  <section class="grid-container">
    <h1 class="header">
      Best to use Chrome
    </h1>
    <div class="gs">
      <ul>
        <li><a routerLink="/just">Just Items</a></li>
        <li><a routerLink="/items">Items Hub Pricing</a></li>
        <li><a routerLink="/timers">timers</a></li>
        <li><a routerLink="/develop">developer guide</a></li>
      </ul>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <div class="foot">footer</div>
  </section>
</div>

